@import '../../styles/mixins';
@import '../../styles/variables';

.header {
  background: $color-primary;
  color: white;
  height: $header-height;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  @include flex;
}

.header__container {
  height: 100%;
  width: $app-width;
  margin: auto;
}

.header__main {
  @include widthAndHeight(100%, 100%);
  @include flex(flex-start, center, row);
}

.nav-links {
  height: 100%;
  width: fit-content;
  @include flex(flex-start, center, row);
  gap: 1rem;
  .nav-link__container {
    .nav-link {
    }
  }
}
