// Colors
$color-primary: #1a202c;
$color-primary-dark: #4a5568;
$color-secondary: #2d3748;
$color-secondary-dark: #718096;
$color-typography: #ffffff;
$color-typography-dark: #000000;
$color-bg: '#FAF9F6';
$color-bg-dark: #000000;
$color-surfaces: #ffffff;
$color-surfaces-dark: #100f0f;

// Dimensions
$app-width: calc(min(90rem, 100%));
$header-height: 3rem;
