@import '../styles/mixins';
@import '../styles/variables';

.app {
  min-height: calc(100vh - $header-height);
  margin-top: $header-height;
  background: $color-bg;
  .app__container {
    width: $app-width;
    min-height: calc(100vh - $header-height);
    margin: auto;
  }
}
